<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gaurav Kumar</title>
    <link rel="stylesheet" , href="stactic/styles.css" />
  </head>
  <body>
    <h1 style="text-align: center">I am Gaurav Kumar.</h1>
    <p>don't u think he is cute. do u like cute puppy gif.</p>
    <img
      src="https://media.tenor.com/IMCfomDBQCoAAAAM/golden-retriever-dog.gif"
      width="200"
    />
  </body>
</html>
